body {
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-weight: lighter;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav a:hover {
    color: blue;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.hero-content h2 {
    font-size: 40px;
    font-weight: 600;
}

.hero-content p {
    font-size: 18px;
    font-weight: 300;
}

.hero-image {
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
}

.btn {
    margin-top: 15px;
    padding: 13px 23px;
    border-radius: 7px;
    background: blue;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    ;
}

.btn:hover {
    background-color: darkblue;
}

.pricing {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
}

.pricing-card {
    background: #fff;
    width: 320px;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
    transition: transform .3s ease, box-shadow .3s ease;
}

.pricing-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.plan-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 32px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.plan-features {
    padding: 0;
    margin-bottom: 20px;
}

.plan-features li {
    padding: 6px 0;
    font-size: 18px;
}

.card-2 {
    background: #d4e7ff;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about__image {
    max-width: 480px;
    width: 100%;
    height: auto;
}

.about__title {
    font-size: 30px;
    margin-bottom: 16px;
}

.about__text {
    font-size: 20px;
    max-width: 300px;
    font-weight: 300;
    margin-bottom: 50px;
}

.about .btn {
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}


.reviews-h3 {
    font-size: 31px;
}

.review {
    width: 250px;
    padding: 20px 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.review img {
    width: 70px;
    max-width: 100%;
    margin-bottom: 12px;
}

.review h2 {
    font-size: 20px;
    margin: 8px 0 4px;
}

.review span {
    display: block;
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
}

.review p {
    font-size: 14px;
    line-height: 1.5;
    color: #444;
}